.welcome-page{
    height: 100vh;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
body, .action-buttons{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

