<app-navbar></app-navbar>
<h4>SceneStealer Movies</h4>
<div style="display: grid; grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;" >
  
  <mat-card
    *ngFor="let movie of movies"
    style=" color: #fff; background-color: rgb(42, 40, 40); margin: 5px;"
    id="{{movie._id}}"
  >
    <mat-card-header>
      <mat-card-title>{{ movie.Name }}</mat-card-title>
      <mat-card-subtitle
        style = "color: white"> ({{ movie.ReleaseYear }})</mat-card-subtitle
      >
    </mat-card-header>
    <img src="{{ movie.Image }}" alt="{{ movie.Name }}" />
    <mat-card-actions>
      <button (click) = "openGenreDialog(movie.Genre.Name, movie.Genre.Description)"  mat-flat-button color="primary" style="margin: 2px">
        {{ movie.Genre.Name }}
      </button>
      <button (click) = "openSynopsisDialog(movie.Name, movie.Synopsis)" button mat-flat-button color="primary" style="margin: 2px">
        Synopsis
      </button>
      <button (click)="openDirectorDialog(movie.Director.Name, movie.Director.Bio, movie.Director.Nationality)" button mat-flat-button color="primary" style="margin: 2px">{{ movie.Director.Name }}
      </button>
      <div *ngIf="!favoriteMovies.includes(movie._id); then thenBlock else elseBlock"></div>
      <ng-template #thenBlock><mat-icon (click)="toggleMovieFavorites(movie._id, movie.Name)"  color="secondary">favorite_border</mat-icon></ng-template>
      <ng-template #elseBlock><mat-icon (click)="toggleMovieFavorites(movie._id, movie.Name)"  color="accent">favorite_fill</mat-icon></ng-template>  
    </mat-card-actions>
  </mat-card>
</div>
