<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SceneStealer</title>
  </head>
  <body>
    <div class="main-page">
      <h1>SceneStealer</h1>
      <button
        (click)="openUserRegistrationDialog()"
        style="margin-right: 10px"
        color="primary"
      >
        Sign Up !!!
      </button>
      <button
        (click)="openUserLoginDialog()"
        mat-raised-button
        color="primary"
        style="margin-right: 10px"
      >
        Login!!!!
      </button>
    </div>
  </body>
</html>
